name = "terrelontane"
main = "src/worker.js"
compatibility_date = "2026-01-24"

[durable_objects]
bindings = [
  { name = "SESSION_DO", class_name = "SessionDO" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["SessionDO"]
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[vars]
ALLOWED_ORIGIN = "https://gabberthomson.github.io"
GEMINI_FILE_SEARCH_STORE_NAME = "fileSearchStores/terrelontanestore-8wsa7n1teldq"
GEMINI_MODEL_CHAT = "models/gemini-2.5-flash"
GEMINI_MODEL_SUMMARY = "models/gemini-2.5-flash"
SUMMARY_TRIGGER_TURNS = "18"
SUMMARY_KEEP_LAST_TURNS = "8"
